{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پرسنل های غایب</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">

    <style>


        @font-face {
            font-family: 'Shabnam';
            src: url('{% static 'fonts/Shabnam.ttf' %}') format('truetype');
        }

        body {
            font-family: 'Shabnam', sans-serif;
            direction: rtl;
            text-align: right;

        }
    </style>
</head>
<body>
<div class="header">


    <div class="container">

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <a href="{% url 'managing:delete_monthly_non_progress' month year %}">
                    <button type="button">حذف گزارش های این ماه</button>
                </a>
                </br></br>
                <thead>
                <tr>
                    <th scope="col">تاریخ</th>
                    <th scope="col">تعداد غایبین</th>
                    <th scope="col">حذف</th>
                </tr>
                </thead>
                <tbody>
                {% for record in absence_records %}
                    {#                {% for user in absents.absent_users.all %}#}
                    {#                    <tr>#}
                    {#                        <td>{{ user }}</td>#}
                    {#                        <td>{{ user.last_name }}</td>#}
                    {#                        <td>{{ user.possit }}</td>#}
                    {#                        <td>{{ user.user_attendance.last.job_time }}</td>#}
                    {#                        <td>{{ user.user_incomes.last }}</td>#}
                    {#                        <td>{{ nonprogress.created_date }}</td>#}
                    {#                        <td><a>#}
                    {#            <button type="button">حذف</button>#}
                    {#        </a></td>#}
                    {##}
                    {#                    </tr>#}
                    {#                {% endfor %}#}
                    <tr>
                        <td>{{ record.created_date }}</td>
                        <td>{{ record.absent_users.count }}</td>
                        <td><a>
                            <button type="button">حذف</button>
                        </a></td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>


        <form method="POST" action="{% url 'Attendance:start' %}">
            {% csrf_token %}
            <a href="{% url 'Attendance:redirected_view' %}">
                <button type="button">بازگشت به خانه</button>
            </a>
            <button type="submit">شروع</button>
            {% if request.user.is_staff %}
                <a href="{% url 'managing:setting_app' %}">
                    <button type="button">منوی تنظیمات</button>
                </a>

            {% endif %}

        </form>

        <br>
        <div class="month-navigation">
            {% for month_num, month_name in months.items %}
                {% if month_num == month %}
                    <span class="btn btn-primary">{{ month_name }}</span>
                {% else %}
                    {% if request.user.is_staff %}
                        <a href="{% url 'managing:absent_record_list' month_num year %}"
                            class="btn btn-outline-primary">{{ month_name }}</a>
                    {% else %}
                        <a href="{% url 'Attendance:absent_record_list' month_num year %}"
                       class="btn btn-outline-primary">{{ month_name }}</a>
                    {% endif %}

                {% endif %}
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>