{% load jalali_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>سیستم حضور غیاب</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <style>

        @font-face {
            font-family: 'Shabnam';
            src: url('{% static 'fonts/Shabnam.ttf' %}') format('truetype');
        }

        body {
            font-family: 'Shabnam', sans-serif;
            height: 100%;
            direction: rtl;
            text-align: right;
        }


    </style>
</head>
<!-- اضافه کردن کتابخانه jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>


<div class="container">
    <form method="post" class="position-form">
    {% csrf_token %}

  <div class="form-textbox ">
    <label for="{{ form.date.id_for_label }}">تاریخ:</label>
    {{ form.date }}
  </div>

  <div class="form-textbox ">
    <label for="{{ form.name.id_for_label }}">علت:</label>
    {{ form.name }}
  </div>
  <button type="submit">ثبت</button>
</form>
   <a href="{% url 'Attendance:setting_app' %}">
            <button type="button">منوی تنظیمات</button>
        </a>
</div>
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
		<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
</body>
</html>