{% load filter_tag %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>سیستم حضور غیاب</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <style>

        @font-face {
            font-family: 'Shabnam';
            src: url('{% static 'fonts/Shabnam.ttf' %}') format('truetype');
        }

        body {
            font-family: 'Shabnam', sans-serif;
            height: 100%;
            direction: rtl;
            text-align: right;
        }


    </style>
</head>
<!-- اضافه کردن کتابخانه jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
<div class="container">
    <h1>ساخت پرسنل</h1>
    {% if check_Shift %}
	<p>تعداد شیفت های  کاری شما به حد نصاب رسیده است </p>
        {% else %}
	    <form method="post">
        {% csrf_token %}

        <div class="time-field">
            <label for="work_start_time">شروع ساعت کاری</label>
            <input type="time" id="work_start_time" name="work_start_time"
                    {% if shift %}
                   value="{{ shift.work_start_time }}"
                    {% endif %}
            >
        </div>

        <div class="time-field">
            <label for="work_end_time">پایان ساعت کاری</label>
            <input type="time" id="work_end_time" name="work_end_time"
                    {% if shift %}
                   value="{{ shift.work_end_time }}"
                    {% endif %}
            >
        </div>

        <br>

        <div class="work-days">
            <label for="work_days">Work Days:</label>
            {% for day in all_days %}
                <div>
                    <label for="{{ day.id_for_label }}">
                        <input type="checkbox" name="work_days" id="{{ day.id_for_label }}"
                               value="{{ day.id }}" {% if day in selected_days %}checked{% endif %}>
                        <span>{{ day }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        <button type="submit">submit Shift Work</button>
    </form>
{% endif %}
<a href="{% url 'Attendance:setting_app' %}" target="_blank">
                <button type="button">تنظیمات حضور غیاب</button>
            </a>

</div>
</body>
</html>