{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>درخواست مرخصی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/66.css' %}">
</head>
<!-- اضافه کردن کتابخانه jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>


<div class="container">
    <h1>ساخت سمت کاری</h1>
    <form method="post" class="position-form">
        {% csrf_token %}

        <div class="form-textbox ">
            {{ form.vacation_type }}
        </div>

        <div class="form-textbox ">
            <label for="{{ form.reason.id_for_label }}">Reason:</label>
            {{ form.reason }}
        </div>
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'Attendance:redirected_view' %}" target="_blank">
        <button type="button">بازگشت به خانه</button>
    </a>
</div>

</body>
</html>