{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>لیست تعطیلی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/66.css' %}">
</head>
<!-- اضافه کردن کتابخانه jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>


<div class="container">
    <table>
        <tr>
            <th>تاریخ</th>
            <th>علت</th>
            {% if request.user.is_staff %}
                <th>حذف</th>
                <th>تغییر</th>
            {% endif %}
        </tr>
        {% for holiday in holidays %}
            <tr>
                <td>{{ holiday.date }}</td>
                <td>{{ holiday.name }}</td>
                {% if request.user.is_staff %}


                    <td><a href="{% url 'managing:delete_holiday' holiday.id %}">
                        <button type="button">حذف</button>
                    </a></td>
                    <td><a href="{% url 'managing:update_holiday' holiday.id %}">
                        <button type="button">تغییر</button>
                    </a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>




    {% if request.user.is_staff %}
        <a href="{% url 'managing:setting_app' %}">
            <button type="button">منوی تنظیمات</button>
        </a>{% endif %}

    <a href="{% url 'Attendance:redirected_view' %}">
        <button type="button">برگشت به خانه</button>
    </a>
    <a href="{% url 'managing:create_holiday' %}">
        <button type="button">ساخت روز تعطیل</button>
    </a>

</div>
</body>
</html>