{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>سیستم حضور غیاب</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/c1.css' %}">
    <style>

        @font-face {
            font-family: 'Shabnam';
            src: url('{% static 'fonts/Shabnam.ttf' %}') format('truetype');
        }

        body {
            font-family: 'Shabnam', sans-serif;
            height: 100%;
            direction: rtl;
            text-align: right;
        }

    </style>
</head>
<body>


<div class="container">
    <h1> حضور و غیاب اُکتینا</h1>
    <h2>{{ request.user }}</h2>
    <h4>{{ position }}</h4>
    <h5>درآمد ماه جاری: {{ income }}</h5>
    <form method="post" action="{% url 'Attendance:start' %}">
        {% csrf_token %}

        <button type="submit">شروع کار</button>
        <p></p>

        <a href="{% url 'user:logout' %}">
            <button type="button">خروج از اکانت</button>
        </a>
        <a href="{% url 'Attendance:result_list' request.user.id month %}">
            <button type="button">لیست نتایج</button>
        </a>
        {% if request.user.is_staff %}
            <a href="{% url 'Attendance:user_list' request.user.id month %}">
                <button type="button">لیست کاربران</button>
            </a>
            <a href="/admin" target="_blank">
                <button type="button">پنل مدیریت</button>
            </a>
        {% endif %}
        <p></p>
        <a href="{% url 'home:home' %}">
            <button type="button"> بازگشت به سایت</button>
        </a>
    </form>
    {% if no_confirmation_users %}
        <P style="color: darkred">هشدار!</P>
    <P>    	شما تعدادی ورود ثبت شده خارج از محدوده دارید! برای تایید کردن آنها <a href="{% url 'Attendance:no_confirmation_check' %}" >کلیک کنید<a/></P>
    {% endif %}
</div>
</body>
</html>