{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>لیست سمت های کاری</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/66.css' %}">
</head>
<!-- اضافه کردن کتابخانه jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>


<div class="container">
    <table>
        {% for poss in position %}
            <tr>
                <td>نام سمت
                    <hr>
                    {{ poss.positions }}</td>
                <td>درآمد
                    <hr>
                    {{ poss.position_income }}</td>
                <td>درآمد اضافه کاری
                    <hr>
                    {{ poss.overtime_position_income }}</td>
                <td>
                    {% for work_day in poss.work_days.all %}
                        {{ work_day }},
                    {% endfor %}
                </td>
                <td>
                    {% for shift_work in poss.shift_work.all %}
                        <br>
                        <br>
                        اطلاعات روز کاری
                        <br>
                        <br>
                        {{ shift_work.name }}
                        <hr>
                        {% for work_day in shift_work.work_days.all %}
                            {{ work_day }},
                        {% endfor %}
                        <hr>
                        {{ shift_work.work_start_time }} شروع ساعت کاری<br>
                        <hr>
                        {{ shift_work.work_end_time }} پایان ساعت کاری<br>
                        <br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'managing:delete_position' poss.id %}">
                        <button type="button">حذف</button>
                    </a>
                    <a href="{% url 'managing:update_position' poss.id %}">
                        <button type="button">تغییر</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'managing:setting_app' %}">
        <button type="button">منوی تنظیمات</button>
    </a>

    <a href="{% url 'Attendance:redirected_view' %}">
        <button type="button">برگشت به خانه</button>
    </a>
    <a href="{% url 'managing:create_position' %}">
        <button type="button">ساخت گروه کاری</button>
    </a>

</div>
</body>
</html>