{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>سیستم حضور غیاب</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <style>

        @font-face {
            font-family: 'Shabnam';
            src: url('{% static 'fonts/Shabnam.ttf' %}') format('truetype');
        }

        body {
            font-family: 'Shabnam', sans-serif;
            height: 100%;
            direction: rtl;
            text-align: right;
        }


    </style>
</head>
<!-- اضافه کردن کتابخانه jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>


<div class="container">
    <table>
  {% for prof in profile %}
  <tr>
    <td>  نام خانوادگی <hr>{{ prof.user.last_name }} </td>
{#    <td>  نام کاربری <hr>{{ prof.user}} </td>#}
    <td>  گروه کاری <hr>{{ prof.profile_position }}</td>
    <td>
      <a href="{% url 'Attendance:delete_profile' prof.id %}">
        <button type="button">حذف</button>
      </a>
      <a href="{% url 'Attendance:update_profile' prof.id %}">
        <button type="button">تغییر</button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

 <a href="{% url 'Attendance:setting_app' %}">
            <button type="button">منوی تنظیمات</button>
        </a>

 <a href="{% url 'Attendance:redirected_view' %}">
            <button type="button">برگشت به خانه</button>
        </a>
</div>
</body>
</html>