{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>لیست شیفت های کاری</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <style>

        @font-face {
            font-family: 'Shabnam';
            src: url('{% static 'fonts/Shabnam.ttf' %}') format('truetype');
        }

        body {
            font-family: 'Shabnam', sans-serif;
            height: 100%;
            direction: rtl;
            text-align: right;
        }


    </style>
</head>
<!-- اضافه کردن کتابخانه jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>


<div class="container">
    <table>
    {% if shiftwork %}
  {% for shift in shiftwork %}
  <tr>
    <td> شروع ساعت کاری  <hr>{{ shift.work_start_time }}</td>
    <td>  پایان ساعت کاری  <hr>{{ shift.work_end_time }}</td>
    <td>  پایان ساعت کاری  <hr>{{ shift.required_time }}</td>
    <td>
      {% for work_day in shift.work_days.all %}
        {{ work_day }},
      {% endfor %}
    </td>
    <td>
      <a href="{% url 'managing:delete_shift_work' shift.id %}">
        <button type="button">حذف</button>
      </a>
      <a href="{% url 'managing:update_shift_work' shift.id %}">
        <button type="button">تغییر</button>
      </a>

    </td>
  </tr>
  {% endfor %}
</table>
        {% else %}
        <h5> بنظر میرسه که شما هیچ شیفت کاری برای نمایش ندارید!  <a href="{% url 'managing:create_shift_work' %}"> برای ساخت شیفت کاری کلیک کنید</a> </h5>
    {% endif %}
 <a href="{% url 'managing:setting_app' %}">
            <button type="button">منوی تنظیمات</button>
        </a>

 <a href="{% url 'Attendance:redirected_view' %}">
            <button type="button">برگشت به خانه</button>
        </a>
<a href="{% url 'managing:create_shift_work' %}">
        <button type="button">ساخت شیفت کاری</button>
    </a>

</div>
</body>
</html>