{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Attendance System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/c1.css' %}">
    <style>
@font-face {
            font-family: 'Shabnam';
            src: url('{% static 'fonts/Shabnam.ttf' %}') format('truetype');
        }

        body {
            font-family: 'Shabnam', sans-serif;
            direction: rtl;
            text-align: right;
        }
        </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
    function updateDuration() {
        $.ajax({
            url: "{% url 'Attendance:update_duration' %}",
            success: function(data) {
                var duration = data.duration_formatted;
                $('#working-hours').text(duration);
            }
        });
    }

    // Update the duration every second (1000 milliseconds)
    setInterval(updateDuration, 1000);
});
    </script>
</head>
<body>
    <div class="container">
        <h1> حضور و غیاب اُکتینا</h1>
        <p>درحال کار: <span id="working-hours">درحال بارگیری</span></p>
        <h6>میتوانید از این صفحه خارج شوید </h6>
        <form method="POST" action="{% url 'Attendance:procces_result' pk %}">
            {% csrf_token %}
            <button class="button" type="submit">اتمام کار</button>
        </form>
    </div>
</body>
</html>