{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <style>
        @font-face {
            font-family: 'Shabnam';
            src: url('{% static 'fonts/Shabnam.ttf' %}') format('truetype');
        }

        body {
            font-family: 'Shabnam', sans-serif;
            direction: rtl;
            text-align: right;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {#        <p>Duration: <span id="duration"></span></p>#}
    {#        <p>Income: <span id="income"></span></p>#}

    <script>
        // اتصال WebSocket

        var user_id = '{{ request.user.id }}';
        var websocket = new WebSocket('ws://' + window.location.host + '/ws/myapp/' + user_id + '/');

        // دریافت پیام‌ها از سرور
        websocket.onmessage = function (event) {
            var data = JSON.parse(event.data);
            $('#duration').text(data.duration);
            $('#income').text(data.income);
        };

        // ارسال پیام به سرور
        function sendUpdateRequest() {
            websocket.send('update');
        }

        // دریافت به‌روزرسانی‌ها هر 1 ثانیه
        setInterval(sendUpdateRequest, 3000);
    </script>
</head>
<body>
<div class="container">
    <h1> حضور و غیاب اُکتینا</h1>
<h3 style="{% if work_in_holi %}
	color: red;
    {% else %}
    color: #1abc9c;
{% endif %} ">{{ current_day }}</h3>
    <p>درحال کار: <span id="duration">درحال بارگیری</span></p>
    {% if at.confirmation == False %}
        <h5 style="color: red">
            نیاز به تایید توسط مدیر به علت عدم دریافت موقعیت مکانی: در صورت عدم تایید، ورود و خروج و درآمد بدست آمده از
            سابقه شما حذف خواهد شد.</h5>
    {% endif %}

    {% if at.overtime_check %}
        {% if work_in_holi %}
        	<h5 style="color: gold">در حال حاضر شما در روز تعطیل شیفت کاری خود کار میکنید و درآمد بصورت اضافه حقوق میباشد</h5>
            {% else %}
            <h5 style="color: gold">در حال حاضر شما بیشتر از ساعت کاری کار میکنید و درآمد بصورت اضافه حقوق میباشد</h5>
        {% endif %}
    {% endif %}

    {% if at.holiday_check %}
    	<h5 style="color: gold"> در حال حاضر امروز روز تعطیل است و درآمد بصورت اضافه حقوق میباشد </h5>
        {% endif %}
    <h6>میتوانید از این صفحه خارج شوید </h6>
    <h4 >درآمد بدست آمده: <span id="income">{{ inc }}</span> </h4>
    <form method="POST" action="{% url 'Attendance:procces_result' pk %}">
        {% csrf_token %}
        <button class="button" type="submit">اتمام کار</button>
    </form>
</div>
</body>
</html>