{% if warnings %}
    <div class="warning-box">
        {% for warning in warnings %}
            <div class="warning-message">
                <p>{{ warning.message }}</p>
                <form action="{% url 'Attendance:mark_warning_seen' warning.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">متوجه شدم</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endif %}
<form action="{% url 'Attendance:all_user_warnings_view' %}" method="POST">
    {% csrf_token %}
    <button type="submit">همه ی پیام ها</button>
</form>
