{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تغییر پسورد</title>
    <link rel="stylesheet" href="{% static 'css/gh.css' %}">
      <style>
    @font-face {
            font-family: 'Shabnam';
            src: url('{% static 'fonts/Shabnam.ttf' %}') format('truetype');
        }
    body {
        font-family: 'Vazir', sans-serif;


    }

        .error-message {
            color: red;
            font-size: 14px;
            margin-bottom: 10px;
        }
    </style>
   </head>
<body>
  <div class="wrapper">
    <h2>   تغییر پسورد </h2>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
    {{ form.password.errors }}
      <div class="input-box">
          {{ form.password }}
      </div>

        {{ form.password2.errors }}
      <div class="input-box">
          {{ form.password2 }}
      </div>
      <div class="input-box button">
        <input type="submit" value="تغییر پسورد">
      </div>
      <div class="text">
      </div>
    </form>
  </div>
</body>
</html>
