{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود به سایت</title>
    <link rel="stylesheet" href="{% static 'css/45.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>
    <style>
        @font-face {
            font-family: 'Shabnam';
            src: url('{% static 'fonts/Shabnam.ttf' %}') format('truetype');
        }

        body {
            font-family: 'Vazir', sans-serif;

            text-align: right;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="wrapper">
        <div class="title"><span>فرم ورود به سایت</span></div>
        <form method="post">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% csrf_token %}
            <div class="error-message">
                {{ form.non_field_errors }}
            </div>
            <div class="row">
                <i class="fas fa-user"></i>
                {{ form.username }}
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                {{ form.password }}
            </div>
            <div class="pass"><a href="{% url 'user:get_email_pass' %}">پسوردت رو فراموش کردی؟</a></div>
            <div class="row button">
                <input type="submit" value="ورود به سایت">
            </div>
            <div class="signup-link">عضو نشدی؟ <a href="{% url 'user:register' %}">الان عضو شو</a></div>
            <div class="signup-link">برو به <a href="{% url 'home:home' %}">صفحه اصلی</a></div>
        </form>
    </div>
</div>
</body>
</html>