{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ثبت نام</title>
    <link rel="stylesheet" href="{% static 'css/gh.css' %}">
      <style>



        .error-message {
            color: red;
            font-size: 14px;
            margin-bottom: 10px;
        }
    </style>
   </head>
<body>
  <div class="wrapper">
    <h2>فرم ثبت نام</h2>
    <form method="post">
        {% csrf_token %}
{{ form.username.errors }}
      <div class="input-box">
          {{ form.username }}

      </div>
        {{ form.Email.errors }}
      <div class="input-box">
        {{ form.Email }}
      </div>
        {{ form.password.errors }}
      <div class="input-box">
        {{ form.password }}
      </div>
        {{ form.password2.errors }}
      <div class="input-box">
        {{ form.password2 }}
      </div>
      <div class="input-box button">
        <input type="submit" value="ثبت نام">
      </div>
      <div class="text">
        <h3>از قبل حساب کاربری دارید؟ <a href="{% url 'user:login' %}">ورود به سایت</a></h3>
          <div class="signup-link">برو به <a href="{% url 'home:home' %}">صفحه اصلی</a></div>
      </div>
    </form>
  </div>
</body>
</html>