{% load static %}



<div class="hero_area">

    <div class="hero_bg_box">
        <div class="bg_img_box">
            <img src="{% static 'images/hero-bg.png' %}" alt="">
        </div>
    </div>

    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="{% url 'home:home' %}">
            <span>
              Octina
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  ">
                        <li class="nav-item {% if request.resolver_match.view_name == 'home:home' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'home:home' %}">خانه <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.view_name == 'home:about' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'home:about' %}"> درباره ما</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.view_name == 'home:services' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'home:services' %}">خدمات</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.view_name == 'home:why_us' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'home:why_us' %}">چرا ما</a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.view_name == 'home:team' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'home:team' %}">تیم</a>
                        </li>
                    {% if request.user.is_authenticated %}
                    	<li class="nav-item {% if request.resolver_match.view_name == 'user:logout' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'user:logout' %}"> <i class="fa fa-user" aria-hidden="true"></i> خروج از اکانت</a>
                        </li>
                        {% else %}
                         <li class="nav-item {% if request.resolver_match.view_name == 'user:login' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'user:login' %}"> <i class="fa fa-user" aria-hidden="true"></i> ورود به سایت</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Attendance:redirected_view' %}"> <i class="fa fa-user" aria-hidden="true"></i>اپلیکیشن ورود و خروج</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="/admin"> <i class="fa fa-user" aria-hidden="true"></i>ادمین پنل</a>
                        </li>
 {% endif %}
                    {% if not request.user.is_staff and request.user.created_who %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Attendance:home' %}"> <i class="fa fa-user" aria-hidden="true"></i>اپلیکیشن ورود و خروج</a>
                        </li>
                     {% endif %}
                        <form class="form-inline">
                            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->